*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
section{
    height: auto;
    width: 700px;
    margin: 20px;
}
header{
        height: 150px;
    background: whitesmoke;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}