*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
section{
    height: auto;
    width: 700px;
    margin: 20px;
}
header{
        height: 175px;
    background: whitesmoke;
    color: rgba(47, 79, 79, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input#search {
    height: 35px;
    width: 350px;
    margin: 10px 0px;
    border: none;
    box-shadow: 0px 0px 3px 1px hsla(0, 0%, 50%, 0.3);
    text-indent: 5px;
}
header > h1,
header > p{
    margin: 5px 0px;
}
main {
    padding: 20px;
    height: auto;
    width: 100%;
}
ul.list {
    margin: 20px 0px;
    padding: 0px;
    list-style: none;
}
main > h1{
    color: rgba(47, 79, 79, 0.8);;
}
li {
    padding: 10px 30px;
    height: 60px;
    border-left: 5px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(48, 48, 48, 0.70);
}